/*
--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 600
light: 300
bold:800

- Line heights:
Default: 
small: 
medium: 
paragraph default: 1.6
Large:

- Letter spacing:


--- 02 COLORS

MAIN COLOR: 
TINTS: 
SHADES:
ACCENTS:
GREY COLOR:

-- 05 SHADOWS
 box-shadow: 0 1.2rem 2.4rem var(--shadow);
 box-shadow: 0 2.4rem 3.2rem var(--shadow);

-- 06 BORDER-RADIUS
Default: 4px

-- 07 WHITESPACE

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%; /* 10px / default(16px) */
}

.light {
  --main-bg: hsl(0, 0%, 95%);
  --element-bg: hsl(0, 0%, 100%);
  --text-main: hsl(200, 15%, 8%);
  --input-text: hsl(0, 0%, 52%);
  --shadow: rgb(17, 21, 23, 0.08);
  --deeper-shadow: rgb(17, 21, 23, 0.07);
}

.dark {
  --main-bg: hsl(207, 26%, 17%);
  --element-bg: hsl(209, 23%, 22%);
  --text-main: hsl(0, 0%, 100%);
  --input-text: hsl(0, 0%, 100%);
  --shadow: rgba(0, 0, 0, 0.08);
  --deeper-shadow: rgba(0, 0, 0, 0.07);
}

body {
  background-color: var(--main-bg);
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  color: var(--text-main);
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 6.4rem;
}

.grid {
  display: grid;
  row-gap: 4.8rem;
}

.grid--1-cols {
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

p {
  font-weight: 800;
}

.spacing {
  margin-bottom: 0.8rem;
}

.spacing2 {
  margin-bottom: 8rem;
}

.comma:not(:first-child):before {
  content: ", ";
}

.no-bold {
  font-weight: 600;
}

/******************************/
/* HEADER */
/******************************/
.header {
  background-color: var(--element-bg);
  box-shadow: 0 1.2rem 2.4rem var(--shadow);
  padding: 1.6rem 0;
}

.countries-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.countries-header-link {
  text-decoration: none;
  color: var(--text-main);
}

.dark-mode {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--element-bg);
  color: var(--text-main);
  padding: 1.2rem;

  transition: all 0.4s;
}

.dark-mode:hover {
  background-color: var(--text-main);
  color: var(--main-bg);
}

/******************************/
/* FILTER SECTION*/
/******************************/

.country-filters {
  padding: 4.8rem 0 0;
}

input::placeholder {
  font-weight: bold;
  color: var(--input-text);
  opacity: 1;
}

input,
select,
textarea {
  color: var(--input-text);
}

.country-search {
  max-width: 32rem;
  height: 4.8rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1.2rem 2.4rem var(--shadow);
  padding-left: 4.8rem;
  font-weight: 800;
  background: var(--element-bg)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 10px center;
}

.country-filter {
  width: 18rem;
  height: 4.8rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1.2rem 2.4rem var(--shadow);
  padding: 0 2.4rem;
  background-color: var(--element-bg);
  justify-self: end;
}

/******************************/
/* COUNTRY INFO SECTION */
/******************************/
.country-info {
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.country-info-card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--element-bg);
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.2rem 2.4rem var(--shadow);
  transition: all 0.4s;
}

.country-info-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2.4rem 3.2rem var(--deeper-shadow);
}

.flag-image {
  width: 100%;
  height: 16.8rem;
}

.country-text {
  max-width: 24rem;
  padding: 2.4rem 2.4rem 3.2rem;
}

.country-name {
  margin-bottom: 15px;
}

.long-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/******************************/
/* COUNTRY DETAILS PAGE */
/******************************/

.back {
  justify-self: start;
  display: inline-block;
  padding: 0.8rem 2.4rem;
  margin-top: 4.8rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: var(--element-bg);
  color: var(--text-main);
  box-shadow: 0 1.2rem 2.4rem var(--shadow);
  transition: all 0.4s;
}

.back:hover {
  background-color: var(--text-main);
  color: var(--main-bg);
}

.country-info-details {
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  column-gap: 6.4rem;
}

.large-flag {
  width: 100%;
}

.country-text-detail {
  column-gap: 9.6rem;
}

.row1-col1 {
  grid-column: 1 / -1;
}

.row2-col1 {
  grid-column: 1 / 1;
  grid-row: 2;
  align-self: start;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.row2-col2 {
  grid-column: 2 / -1;
  grid-row: 2;
  align-self: start;
  justify-self: end;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.row3-col12 {
  grid-column: 1 / -1;
  grid-row: 3;

  display: flex;
  gap: 1.6rem;
}

.value9 {
  column-gap: 1.6rem;
  row-gap: 1.6rem;
}

.border {
  white-space: nowrap;
}

.border-country {
  display: flex;
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
  border-radius: 4px;
  border: none;
  box-shadow: 0 1.2rem 2.4rem var(--shadow);
  cursor: pointer;
  background-color: var(--element-bg);
  color: var(--text-main);
  transition: all 0.4s;
}

.border-country:hover {
  background-color: var(--text-main);
  color: var(--main-bg);
}
