* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

.container {
  display: grid;
  width: 1440px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 530px);
  grid-auto-rows: minmax(75px, auto);
  align-items: center;
  justify-content: center;
}

.flag-image {
  width: 225px;
  height: 125px;
}

.country-info {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  align-items: center;
  justify-items: center;
  row-gap: 50px;
  grid-row: 3;
  grid-column: 1 / -1;
}

.country-info-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
}

.country-text {
  flex: 1;
  max-width: 225px;
  padding: 20px 20px 30px;
}

.long-text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 52%);
  border-bottom: hsl(0, 0%, 52%) solid 3px;
}

.countries-header {
  margin-left: 20px;
}

.dark-mode {
  margin-right: 20px;
}

.country-search {
  grid-row: 2;
  justify-self: start;
  margin-left: 20px;
}

.country-filter {
  grid-row: 2;
  justify-self: end;
  margin-right: 20px;
}
